<style>
    .button {
        width:150px;
        height:30px;
        text-align:center;
        margin: 10px;
    }
</style>
<h3>
    Main menu:
</h3>
<hr/>
<div>
    <div class="button">

        <a asp-controller="Admin"
           asp-action="Index">
            Main Page
        </a>
    </div>
    <div class="button">

        <a asp-controller="Admin"
           asp-action="Create">
            New Product
        </a>
    </div>
</div>
<hr/>