@model IEnumerable<Manufacturer>

@foreach (var manufacturer in Model)
{
    <div>
        <p>
            ID: @manufacturer.Id
            <br/>
            Company name: @manufacturer.Name
            <br/>
            Company country: @manufacturer.Country
            <br/>
            @if (manufacturer.Products.Any())
            {
                <span>Products:</span>
                <ul>
                    @foreach (var product in manufacturer.Products)
                    {
                        <li>@product.Name</li>
                    }
                </ul>
            }
            <br/>
        </p>
    </div>
}